<h2 class="sub-header">Fleet Vehicles</h2>

<div class="row">
    <div class="col-md-4" *ngFor="let vehicle of fleet">
        <div class="content shadow">

            <div>
                <div id="img" class="transition"> </div>
            </div>

            <div>
                <div id="vehicle" class="transition">
                    <span><a [routerLink]="['/vehicle', vehicle.id]">{{vehicle.name}}</a></span> 
                </div>
            </div>

            <div class="ripplelink js-geolocation is-center" id="find-wrapper">
                <p class="find-text">Find Me <i class="fa fa-map-marker"></i></p>
            </div>

        </div>
    </div>
</div>

<button (click)="goBack()" class="btn btn-default" style="position:absolute; left: 0; bottom:-50;">Back</button>