
<div class="row placeholders">
    <div class="col-md-4">
        <h1 class="page-header" align="left" *ngFor="let customer of customers">{{customer.owner}}</h1>
        <p class="text-muted" align="left">Source: BaseStation1</p>
    </div>
        

    <div class="col-xs-8 col-sm-4 col-md-6 placeholder">
        <div align="left">
            <h4>Fleet Location</h4>
            <ul style="list-style-type:none; margin:0; padding:0">
                <li><span class="text-muted">123 Main Street</span></li>
                <li><span class="text-muted">Smalltown, CA 92113</span></li>
                <li><span class="text-muted">(123) 333-4455</span></li>
            </ul>
        </div>
    </div>

</div>