<div *ngFor="let fleet of fleets">
<div class="row">
    <h3>Fleet {{fleet.id}}</h3>
</div>
<div class="row">
    <!-- FUEL USED -->
    <div class="col-md-4">
        <div>
            <div style="display: block">
                <canvas baseChart
                    [datasets]="barChartFuelData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    [colors]="chartColors"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
    </div>

    <!-- MILEAGE -->
    <div class="col-md-4">
        <div>
            <div style="display: block">
                <canvas baseChart
                    [datasets]="barChartMileageData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    [colors]="chartColors"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
    </div>

    <!-- RUN HOURS -->
    <div class="col-md-4">
        <div>
            <div style="display: block">
                <canvas baseChart
                    [datasets]="barChartRunData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    [colors]="chartColors"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <button class="btn btn-danger" type="button">
        <i class="fa fa-cogs"></i> DTC <span class="badge">1</span>
    </button>
    <button class="btn btn-default" type="button">
        <i class="fa fa-exclamation-triangle"></i> Triggers <span class="badge">0</span>
    </button>
</div>
</div>